.coverage
htmlcov/
src/__pycache__/
src/grapher/__pycache__/
src/linter/__pycache__/
src/linter/rules/fieldrules/__pycache__/
src/linter/rules/filerules/__pycache__/
src/linter/rules/otherrules/__pycache__/
test/__pycache__/

.DS_Store
.cache/
.python-version
graph.png
